<div class="resumo">
    <div *ngIf="selectedFoods && selectedFoods.length > 0; else selectedFoodsEmpty">
        <perfect-scrollbar>
            <div class="d-flex">
                <div class="offset-1 col-md-4">
                    <section class="fieldset" *ngFor="let food of selectedFoods">
                        <h1>
                            <label>{{food.food_name}}</label> (<span>{{food.quantidade_proposta | number}} {{food.measure_unit}}</span> / <small>{{food.quantity | number}} {{food.measure_unit}}</small>)
                        </h1>
                      <fieldset>
                          <ul>
                            <li>Cooperados Importados: {{food!.members.length}}</li>
                            <li>Total Proposto: {{food.total_proposto | currency: 'BRL': 'R$'}}</li>
                            <li>Qtdade Proposta: {{food.quantidade_proposta | number}} {{food.measure_unit}}</li>
                          </ul>
                      </fieldset>
                    </section>
                </div>
    
                <div class="offset-2 col-md-4" *ngIf="proposalForm">
                    <form [formGroup]="proposalForm!">
                        <section class="fieldset">
                            <h1>Dados Associados</h1>
                            <div class="row mb-10">
                                <div class="col-md-10 mb-10">
                                    <div class="form-group">
                                        <label class="dois-pontos">Assentados/as pelo PNRA</label>
                                        <input type="text" id="pnra_settlement_total" name="pnra_settlement_total"
                                            formControlName="pnra_settlement_total" class="form-control" maxlength="4"
                                            mask="0000" [ngClass]="{ 'is-invalid': submitted && f!['pnra_settlement_total'].errors }" />
                                        <div *ngIf="submitted && f!['pnra_settlement_total'].errors" class="invalid-feedback">
                                            <div *ngIf="f!['pnra_settlement_total'].errors['required']">O nro de assentados/as
                                                pelo PNRA é obrigatório</div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-md-10 mb-10">
                                    <div class="form-group">
                                        <label class="dois-pontos">Comunidade Indígena</label>
                                        <input type="text" id="indigenous_community_total" name="indigenous_community_total"
                                            formControlName="indigenous_community_total" class="form-control" maxlength="4"
                                            mask="0000" [ngClass]="{ 'is-invalid': submitted && f!['indigenous_community_total'].errors }" />
                                        <div *ngIf="submitted && f!['indigenous_community_total'].errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f!['indigenous_community_total'].errors['required']">O nro de associados
                                                de comunidade indígena é obrigatório</div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-md-10 mb-10">
                                    <div class="form-group">
                                        <label class="dois-pontos">Comunidade Quilombola</label>
                                        <input type="text" id="quilombola_community_total" name="quilombola_community_total"
                                            formControlName="quilombola_community_total" class="form-control" maxlength="4"
                                            mask="0000" [ngClass]="{ 'is-invalid': submitted && f!['quilombola_community_total'].errors }" />
                                        <div *ngIf="submitted && f!['quilombola_community_total'].errors"
                                            class="invalid-feedback">
                                            <div *ngIf="f!['quilombola_community_total'].errors['required']">O nro de associados
                                                de comunidade quilombola é obrigatório</div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-md-10 mb-10">
                                    <div class="form-group">
                                        <label class="dois-pontos">Preencha com a soma de todos os cooperados não listados nos campos acima</label>
                                        <input type="text" id="other_family_agro_total" name="other_family_agro_total"
                                            formControlName="other_family_agro_total" class="form-control" maxlength="4"
                                            mask="0000" [ngClass]="{ 'is-invalid': submitted && f!['other_family_agro_total'].errors }" />
                                        <div *ngIf="submitted && f!['other_family_agro_total'].errors" class="invalid-feedback">
                                            <div *ngIf="f!['other_family_agro_total'].errors['required']">A soma de todos os cooperados não listados é obrigatória</div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-md-10 mb-10">
                                    <div class="form-group">
                                        <label class="dois-pontos">Total de Associados</label>
                                        <input type="text" id="total" name="total" formControlName="total" class="form-control" maxlength="4"
                                            mask="0000" [ngClass]="{ 'is-invalid': submitted && f!['total'].errors }" />
                                        <div *ngIf="submitted && f!['total'].errors" class="invalid-feedback">
                                            <div *ngIf="f!['total'].errors['required']">O nro total é obrigatório</div>
                                            <div *ngIf="f!['total'].errors['invalidSum']">O nro total deve ser a soma dos campos anteriores</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="fieldset">
                            <h1>Localização</h1>
                            <div class="row mb-10">
                                <div class="col-md-10 mb-10">
                                    <div class="form-group">
                                        <label class="dois-pontos">Cidade com mais associados</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <select class="form-control" formControlName="state_acronym"
                                                    (change)="loadCities(f!['state_acronym'].value, 0)"
                                                    [ngClass]="{ 'is-invalid': submitted && f!['city_id'].errors }">
                                                    <option [ngValue]="''" [disabled]="true">UF</option>
                                                    <option *ngFor="let state of statesList" [value]="state.acronym"
                                                        [selected]="state.acronym == f!['state_acronym'].value">
                                                        {{state.acronym}}
                                                    </option>
                                                </select>
                                            </div>
                                            <!-- <select class="form-control" formControlName="city_id"
                                                [ngClass]="{ 'is-invalid': submitted && f!['city_id'].errors }">
                                                <option value="0" [disabled]="true" selected>{{f!['state_acronym'].value == ''
                                                    ? 'Selecione o Estado' : 'Selecione a Cidade'}}</option>
                                                <option *ngFor="let city of citiesList" [value]="city.id">
                                                    {{city.name}}
                                                </option>
                                            </select> -->
                                            <search-dropdown [items]="citiesList" formControlName="city_id" [label]="'name'" [uid]="'id'" emptyText="Nenhuma cidade encontrada"
                                                class="form-control" [ngClass]="{ 'is-invalid': submitted && f!['city_id'].errors }" (afterChange)="setCityId($event)"
                                                [selectText]="f!['state_acronym'].value == '' ? 'Selecione o Estado' : 'Selecione a Cidade'">
                                            </search-dropdown>
                                        </div>
                                        <div *ngIf="submitted && f!['city_id'].errors" class="invalid-feedback">
                                            <div *ngIf="f!['city_id'].errors['required'] || f!['city_id'].errors['min']">Selecione
                                                uma cidade</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-10 mb-10">
                                    <div class="form-group">
                                        <label class="dois-pontos">Total associados cidade</label>
                                        <input type="text" id="city_members_total" name="city_members_total"
                                            formControlName="city_members_total" class="form-control" maxlength="4"
                                            mask="0000" [ngClass]="{ 'is-invalid': submitted && f!['city_members_total'].errors }" />
                                        <div *ngIf="submitted && f!['city_members_total'].errors" class="invalid-feedback">
                                            <div *ngIf="f!['city_members_total'].errors['required']">O total de associados na cidade é obrigatório</div>
                                            <div *ngIf="f!['city_members_total'].errors['invalidTotalCity']">O total na cidade deve ser menor ou igual ao total de associados</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="fieldset">
                            <h1>DAP's Físicas</h1>
                            <div class="row mb-10">
                                <div class="col-md-10 mb-10">
                                    <div class="form-group">
                                        <!-- <label class="dois-pontos">DAPs Físicas</label> -->
                                        <input type="text" id="daps_fisicas_total" name="daps_fisicas_total"
                                            formControlName="daps_fisicas_total" class="form-control" maxlength="4"
                                            mask="0000" [ngClass]="{ 'is-invalid': submitted && f!['daps_fisicas_total'].errors }" />
                                        <div *ngIf="submitted && f!['daps_fisicas_total'].errors" class="invalid-feedback">
                                            <div *ngIf="f!['daps_fisicas_total'].errors['required']">O nro de associados DAPs físicas é obrigatório</div>
                                            <div *ngIf="f!['daps_fisicas_total'].errors['invalidTotalDap']">O total de DAPs físicas deve ser menor ou igual ao total de associados</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </perfect-scrollbar>
    </div>
    <ng-template #selectedFoodsEmpty>
        <div class="vazio">
            <span>Nenhum produto foi preenchido</span>
        </div>
    </ng-template>
</div>