<div class="detail" *ngIf="publicCall">
    <app-dashboard-detail-header [publicCall]="publicCall" backPage="/"></app-dashboard-detail-header>
    <div class="body">
        <perfect-scrollbar>
            <app-dashboard-general-info [publicCall]="publicCall" [isOpened]="true"></app-dashboard-general-info>
            <!-- <div class="bidding-object">
                <h2>Objeto da Chamada</h2>
                <hr />
                <div [innerHTML]="publicCall.notice_object"></div>
            </div> -->
            <!-- <div class="bidding-notice">
                <h2>Aviso de Chamada</h2>
                <hr />
                <div [innerHTML]="publicCall.notice_information"></div>
            </div> -->
        </perfect-scrollbar>
    </div>
</div>