.add-area {
    height: calc(100vh - 322px);

    .address {
        .form-group:first-child     { flex: 1.5; }
        .form-group:last-child      { flex: 1; }
    }

    .name-acronym,
    .dap-caf {
        .form-group:first-child         { flex: 1.5; }
        .form-group:not(:first-child)   { flex: 1; }
    }

    .is-male > div {
        align-items: center;
        height: 38px;

        > div:first-child { margin-right: 10px; }

        .form-check-label {
            align-items: center;
            display: flex;

            > input { margin-right: 5px; margin-top: 0px; }
        }
    }

    .form-group {
        width: 100%;
        margin-bottom: 25px;
        text-align: left;

        label {
            font-size: 0.875rem;
            line-height: 1;
            vertical-align: top;
        }

        .form-control {
            &.text-transform-upper                 { text-transform: uppercase; }
            &.text-transform-upper::placeholder    { text-transform: none!important; }
        }
    }
}