<div class="modal-change-request">
    <div class="modal-header">
        <h4 class="modal-title d-flex flex-direction-column">
            Solicitar Alteração
            <small *ngIf="cooperative">{{cooperative.name}} - {{food?.food_name}}</small>
        </h4>
        <button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="changeRequestForm">
            <perfect-scrollbar>
                <div class="body d-flex flex-direction-column">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="dois-pontos title">Título</label>
                                <input type="text" id="title" name="title" formControlName="title" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['title'].errors }"
                                    placeholder="Digite o título da solicitação" />
                                <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                                    <div *ngIf="f['title'].errors['required']">O título da solicitação é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="dois-pontos title">Prazo para resposta</label>
                                <input type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" class="form-control" formControlName="response_date" maxlength="10"
                                    [ngClass]="{ 'is-invalid': submitted && f['response_date'].errors }">
                                <div *ngIf="submitted && f['response_date'].errors" class="invalid-feedback">
                                    <div *ngIf="f['response_date'].errors['required']">O prazo para resposta é obrigatório</div>
                                    <div class="white-space-nowrap" *ngIf="f['response_date'].errors['dateLowerThanToday']">O prazo para resposta deve ser maior do que hoje</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="dois-pontos title">Mensagem</label>
                                <textarea id="message" name="message" formControlName="message" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f['message'].errors }" rows="3"
                                    placeholder="Digite o texto da solicitação"></textarea>

                                <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                                    <div *ngIf="f['message'].errors['required']">O texto da solicitação é obrigatório</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check circle">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name="new_upload" formControlName="new_upload">
                                    <b>Solicitar nova importação de cooperados?</b>
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6" *ngIf="documents.length > 0">
                            <label class="dois-pontos title">Selecione os documentos que precisam ser alterados</label>
                            <div>
                                <section class="table refused-documents">
                                    <div class="table-row" *ngFor="let document of documents">
                                        <div class="col d-flex">
                                            <div class="form-check circle">
                                                <label class="form-check-label">
                                                    <input type="checkbox" class="form-check-input document" [attr.document-id]="document.document_type_id">
                                                    {{document.document_type_name}}
                                                    <i class="input-helper"></i>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </perfect-scrollbar>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
        <button class="btn btn-primary btn-sm min-120" (click)="onSubmit()">Enviar</button>
    </div>
</div>
