<div class="content-wrapper login p-0">
    <div class="col-12 d-flex align-items-center justify-content-center bg-white">
        <div class="auto-form-wrapper">
            <div class="nav-get-started">
                <img src="assets/imagens/logo-preto-vertical.png" class="img-fluid">
            </div>
            <perfect-scrollbar>
                <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
                    <h3 class="mr-auto">Olá, seja bem-vindo!</h3>
                    <p class="mb-5 mr-auto">Para trocar sua senha, informe seu e-mail e sua nova senha abaixo.</p>

                    <div class="form-group">
                        <label id="email" class="dois-pontos">E-mail</label>
                        <div class="input-group" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                            </div>
                            <input type="email" id="email" name="email" formControlName="email" class="form-control"
                                placeholder="Digite seu e-mail aqui" />
                        </div>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">O e-mail é obrigatório</div>
                            <div *ngIf="f.email.errors.email">Formato de e-mail inválido</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label id="senha" class="dois-pontos">Senha</label>
                        <div class="input-group" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input type="password" id="senha" name="senha" formControlName="password"
                                class="form-control" placeholder="Digite sua senha aqui" />
                        </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">A senha é obrigatória</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label id="senha" class="dois-pontos">Confirmação de Senha</label>
                        <div class="input-group" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input type="password" id="senhaConfirmacao" name="senhaConfirmacao" formControlName="confirmPassword"
                                class="form-control" placeholder="Confirme sua senha aqui" />
                        </div>
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">A confirmação de senha é obrigatória</div>
                            <div *ngIf="f.confirmPassword.errors.confirmedValidator">A senha e a confirmação devem ser iguais</div>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">Trocar</button>
                    </div>

                </form>
            </perfect-scrollbar>
        </div>
    </div>
</div>