<div class="content-wrapper registration p-0">
  <div class="col-12 d-flex align-items-center justify-content-center bg-white">
    <div class="nav-get-started">
      <img src="assets/imagens/logo-preto-vertical.png" class="img-fluid">
    </div>
    <div class="auto-form-wrapper" *ngIf="cooperative">
      <h3 class="mr-auto">Adicione seus cooperados!</h3>

      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs" role="tablist">
        <li [ngbNavItem]="1" class="nav-item">
          <a ngbNavLink>Adicionar</a>
          <ng-template ngbNavContent>
            <perfect-scrollbar>
              <app-cooperative-registration-completion-step3-add [cooperative]="cooperative"
                (toggleButtons)="toggleButtons($event)">
              </app-cooperative-registration-completion-step3-add>
            </perfect-scrollbar>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" class="nav-item">
          <a ngbNavLink>Cooperados Cadastrados</a>
          <ng-template ngbNavContent>
            <app-cooperative-registration-completion-step3-list [cooperative]="cooperative">
            </app-cooperative-registration-completion-step3-list>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>

      <div class="form-group text-center" *ngIf="!hideButtons">
        <button type="button" class="btn btn-default" (click)="goBack()">Anterior</button>
        &nbsp;
        <button type="button" class="btn btn-success" (click)="goToNext()">Próximo</button>
      </div>
    </div>
  </div>
</div>