@import '../../../assets/styles/checkbox-radio';

.registration {

    >div {
        padding-top: 20px;

        .nav-get-started {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: flex-end;
            justify-content: flex-end;
            position: absolute;
            top: 10px;
            right: 30px;

            img {
                max-height: 10rem;
            }
        }

        perfect-scrollbar {
            height: calc(100vh - 180px);
            overflow: scroll;

            ::ng-deep {
                >div {
                    display: flex;
                    justify-content: center;
                }
            }
        }

        .auto-form-wrapper {
            width: 700px;

            form {
                .form-group {
                    width: 100%;
                    margin-bottom: 25px;
                    text-align: left;

                    &.is-dap {
                        width: 50%;

                        > div {
                            align-items: center;
                            height: 38px;

                            > div:first-child { margin-right: 10px; }
                        }
                    }

                    label {
                        font-size: 0.875rem;
                        line-height: 1;
                        vertical-align: top;
                    }

                    .form-control {
                        &.text-transform-upper                 { text-transform: uppercase; }
                        &.text-transform-upper::placeholder    { text-transform: none!important; }
                    }
                }
            }

            .form-check-label {
                align-items: center;
                display: flex;

                > input { margin-right: 5px; margin-top: 0px; }
            }

            .message { font-size: 1.3rem; margin-top: 40px; }

            .terms-of-use a { margin-left: 5px; }
        }
    }
}
