<div class="modal-delivery-confirmation">
    <div class="modal-header">
        <h4 class="modal-title">
            Cronograma de Entrega
            <small *ngIf="publicCall"><b>Processo nº:</b> {{publicCall.process}}</small>
        </h4>
        <button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div *ngIf="publicCall" class="list">
            <label>O volume total (100%) de sua entrega é de <b>{{publicCall.total_proposal | number}}{{publicCall.measure_unit}}</b></label>
            
            <perfect-scrollbar>
                <ul class="list-bullets deliveries">
                    <li *ngFor="let item of deliveryProgress; let ind = index">
                        <b>{{(ind + 1)}}ª</b>
                        <label>
                            {{item.delivery_date | date:'dd/MM/yyyy'}}
                            <fa-icon [icon]="faIcons.faCheckCircle" class="not-delivered"></fa-icon>
                        </label>
                        <label>
                            {{item.delivery_quantity}}
                            <fa-icon [icon]="faIcons.faCheckCircle" class="not-delivered"></fa-icon>
                        </label>
                    </li>
                </ul>
            </perfect-scrollbar>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="confirm()">
            Confirmar
        </button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
    </div>
</div>