<div class="cooperative-register registration-page-container">
    <header>
        <h2>Cooperativa</h2>
    </header>
    <form [formGroup]="cooperativeForm">
        <perfect-scrollbar>
            <div class="body d-flex flex-direction-column">
                <div class="row container-logo">
                    <div class="col">
                        <label class="dois-pontos">Logo</label>
                        <div class="btn btn-primary container-file d-flex justify-content-center">
                            Importe o logotipo da Cooperativa
                            <input type="file" class="form-control form-control-sm" (change)="onFileChange($event)" accept="image/*">
                        </div>
                        <div *ngIf="submitted && f['croppedImage'].errors" class="invalid-feedback">
                            <div *ngIf="f['croppedImage'].errors['required']">A logo da cooperativa deve ser importada</div>
                        </div>
                    </div>
                    <div class="col crop d-flex align-items-center justify-content-center">
                        <image-cropper #imageCropper
                            *ngIf="imageChangedEvent"
                            [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true"
                            [aspectRatio]="1 / 1"
                            [resizeToWidth]="160"
                            format="png"
                            output="base64"
                            (imageCropped)="imageCropped($event)">
                        </image-cropper>
                        <img [src]="croppedImage" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="dois-pontos title">Razão Social</label>
                            <input type="text" id="name" name="name" formControlName="name" class="form-control text-transform-capitalize"
                                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" maxlength="200"
                                placeholder="Digite a razão social" />
                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                <div *ngIf="f['name'].errors['required']">A razão social é obrigatória</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="dois-pontos">Sigla</label>
                            <input type="text" id="acronym" name="acronym" formControlName="acronym"
                                class="form-control text-transform-uppercase" maxlength="20"
                                [ngClass]="{ 'is-invalid': submitted && f['acronym'].errors }" />
                            <div *ngIf="submitted && f['acronym'].errors" class="invalid-feedback">
                                <div *ngIf="f['acronym'].errors['required']">A sigla é obrigatória</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="dois-pontos">Tipo Pessoa Jurídica</label>
                            <select class="form-control" name="pj_type" formControlName="pj_type"
                                [ngClass]="{ 'is-invalid': submitted && f['pj_type'].errors }">
                                <option [ngValue]="0" [disabled]="true">Selecione um tipo PJ</option>
                                <option [ngValue]="1">Associação</option>
                                <option [ngValue]="2">Cooperativa Central</option>
                                <option [ngValue]="3">Cooperativa Singular</option>
                                <!-- <option [ngValue]="4">Outro</option> -->
                            </select>
                            <div *ngIf="submitted && f['pj_type'].errors" class="invalid-feedback">
                                <div *ngIf="f['pj_type'].errors['required'] || f['pj_type'].errors['min']">O tipo de
                                    pessoa jurídica é obrigatório</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="dois-pontos">Tipo Produção</label>
                            <select class="form-control" name="production_type" formControlName="production_type"
                                [ngClass]="{ 'is-invalid': submitted && f['production_type'].errors }">
                                <option [ngValue]="0" [disabled]="true">Selecione um tipo de Produção</option>
                                <option [ngValue]="1">Convencional</option>
                                <option [ngValue]="2">Orgânico</option>
                                <option [ngValue]="3">Ambos</option>
                            </select>
                            <div *ngIf="submitted && f['production_type'].errors" class="invalid-feedback">
                                <div
                                    *ngIf="f['production_type'].errors['required'] || f['production_type'].errors['min']">
                                    O tipo de produção é obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="dois-pontos">CNPJ</label>
                            <input type="text" id="cnpj" name="cnpj" formControlName="cnpj" class="form-control"
                                placeholder="Digite o CNPJ" mask="00.000.000/0000-00" />
                            <div *ngIf="submitted && f['cnpj'].errors" class="invalid-feedback">
                                <div *ngIf="f['cnpj'].errors['required']">O CNPJ é obrigatório</div>
                                <div *ngIf="f['cnpj'].errors['cnpjInvalido']">Formato de CNPJ inválido</div>
                                <div *ngIf="f['cnpj'].errors['cnpjAlreadyExists']">Este CNPJ já foi registrado</div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-6">
                        <div class="form-group">
                            <label class="dois-pontos">CNPJ Central</label>
                            <input type="text" id="cnpj_central" name="cnpj_central" formControlName="cnpj_central"
                                class="form-control" mask="00.000.000/0000-00"
                                [ngClass]="{ 'is-invalid': submitted && f['cnpj_central'].errors }" />
                            <div *ngIf="submitted && f['cnpj_central'].errors" class="invalid-feedback">
                                <div *ngIf="f['cnpj_central'].errors['conditionalRequired']">O CNPJ Central é
                                    obrigatório</div>
                                <div *ngIf="f['cnpj_central'].errors['cnpjInvalido']">Formato de CNPJ Central inválido
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group is-radio" formGroupName="isDapGroup" >
                            <label class="dois-pontos">Tipo</label>
                            <div class="d-flex">
                                <div class="form-check circle">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" [value]="true" formControlName="is_dap">
                                        DAP
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <div class="form-check circle">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" [value]="false" formControlName="is_dap">
                                        CAF
                                        <i class="input-helper"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="dois-pontos">{{ isDap ? 'DAP' : 'CAF' }}</label>
                            <input type="text" id="dap_caf_code" name="dap_caf_code" formControlName="dap_caf_code" class="form-control text-transform-uppercase" maxlength="25"
                                [ngClass]="{ 'is-invalid': submitted && f['dap_caf_code'].errors }" placeholder="Digite a DAP" prevent-space />
                            <div *ngIf="submitted && f['dap_caf_code'].errors" class="invalid-feedback">
                                <div *ngIf="f['dap_caf_code'].errors['required']">A {{ isDap ? 'DAP' : 'CAF' }} é obrigatória</div>
                                <div *ngIf="f['dap_caf_code'].errors['DapCafAlreadyExistsValidator']">Esta {{ isDap ? 'DAP' : 'CAF' }} já foi registrada</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="dois-pontos">Data Cadastro {{ isDap ? 'DAP' : 'CAF' }}</label>
                            <input type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" class="form-control" formControlName="dap_caf_registration_date" maxlength="10"
                                [ngClass]="{ 'is-invalid': submitted && f['dap_caf_registration_date'].errors }">
                            <div *ngIf="submitted && f['dap_caf_registration_date'].errors" class="invalid-feedback">
                                <div *ngIf="f['dap_caf_registration_date'].errors['required']">A data de cadastro da {{ isDap ? 'DAP' : 'CAF' }} é obrigatória</div>
                                <div *ngIf="f['dap_caf_registration_date'].errors['startDateGreaterThanToday']">A data de cadastro da
                                    {{ isDap ? 'DAP' : 'CAF' }} deve ser menor do que hoje</div>
                                <div *ngIf="f['dap_caf_registration_date'].errors['startDateGreaterThanExpirationDate']">A data de cadastro da
                                    {{ isDap ? 'DAP' : 'CAF' }} deve ser menor do que a data de expiração</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="dois-pontos">Data Expiração {{ isDap ? 'DAP' : 'CAF' }}</label>
                            <div class="input-group">
                                <input type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" class="form-control" formControlName="dap_caf_expiration_date" maxlength="10"
                                    [ngClass]="{ 'is-invalid': submitted && f['dap_caf_registration_date'].errors }">
                            </div>
                            <div *ngIf="submitted && f['dap_caf_expiration_date'].errors" class="invalid-feedback">
                                <div *ngIf="f['dap_caf_expiration_date'].errors['required']">A data de expiração da {{ isDap ? 'DAP' : 'CAF' }} é obrigatória</div>
                                <div *ngIf="f['dap_caf_expiration_date'].errors['endDateLowerThanToday']">A data de expiração da
                                    {{ isDap ? 'DAP' : 'CAF' }} deve ser maior do que hoje</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="dois-pontos">E-mail da Cooperativa</label>
                            <input type="email" id="email" name="email" formControlName="email" class="form-control text-tranform-lowercase" maxlength="200"
                                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
                            <small class="form-text text-muted nowrap">e-mail para contato com a organização sobre a documentação</small>
                            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                                <div *ngIf="f['email'].errors['required']">O e-mail é obrigatório</div>
                                <div *ngIf="f['email'].errors['email']">Formato de e-mail inválido</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="dois-pontos">Telefone da Cooperativa</label>
                            <input type="text" id="phone" name="phone" formControlName="phone" class="form-control"
                                mask="(00) 0000-0000||(00) 0 0000-0000" maxlength="20"
                                [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" />
                            <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                                <div *ngIf="f['phone'].errors['required']">O telefone é obrigatório</div>
                                <div *ngIf="f['phone'].errors['phone']">Formato do telefone inválido</div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="fieldset">
                    <ngx-spinner name="spinnerAddress" size="medium" color="#fff" type="ball-beat"
                        [fullScreen]="false"></ngx-spinner>
                    <h1>Dados Endereço</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">CEP</label>
                                <input type="text" id="address_cep" name="address_cep" formControlName="address_cep"
                                    class="form-control" (change)="getAddress($event, true)" maxlength="9" mask="00000-000"
                                    [ngClass]="{ 'is-invalid': submitted && f['address_cep'].errors }" />
                                <div *ngIf="submitted && f['address_cep'].errors" class="invalid-feedback">
                                    <div *ngIf="f['address_cep'].errors['required']">O CEP é obrigatório</div>
                                    <div *ngIf="f['address_cep'].errors['cepInvalido']">Formato de CEP inválido</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Logradouro</label>
                                <input type="text" id="address_street" name="address_street" formControlName="address_street"
                                    class="form-control text-transform-capitalize" maxlength="200" [ngClass]="{ 'is-invalid': submitted && f['address_street'].errors }" />
                                <div *ngIf="submitted && f['address_street'].errors" class="invalid-feedback">
                                    <div *ngIf="f['address_street'].errors['required']">O logradouro é obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Número</label>
                                <input type="text" id="address_number" name="address_number"
                                    formControlName="address_number" class="form-control" maxlength="10"
                                    [ngClass]="{ 'is-invalid': submitted && f['address_number'].errors }" />
                                <div *ngIf="submitted && f['address_number'].errors" class="invalid-feedback">
                                    <div *ngIf="f['address_number'].errors['required']">O número do endereço é
                                        obrigatório</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Complemento</label>
                                <input type="text" id="address_complement" name="address_complement"
                                    formControlName="address_complement" class="form-control text-transform-capitalize" maxlength="100" />
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Bairro</label>
                                <input type="text" id="address_district" name="address_district"
                                    formControlName="address_district" class="form-control text-transform-capitalize" maxlength="200"
                                    [ngClass]="{ 'is-invalid': submitted && f['address_district'].errors }" />
                                <div *ngIf="submitted && f['address_district'].errors" class="invalid-feedback">
                                    <div *ngIf="f['address_district'].errors['required']">O bairro é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Cidade / Estado</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="form-control" formControlName="address_state_acronym"
                                            (change)="loadCities(f['address_state_acronym'].value, 0, true)"
                                            [ngClass]="{ 'is-invalid': submitted && f['address_city_id'].errors }">
                                            <option [ngValue]="''" [disabled]="true">UF</option>
                                            <option *ngFor="let state of statesList" [value]="state.acronym"
                                                [selected]="state.acronym == f['address_state_acronym'].value">
                                                {{state.acronym}}
                                            </option>
                                        </select>
                                    </div>
                                    <select class="form-control" formControlName="address_city_id"
                                        [ngClass]="{ 'is-invalid': submitted && f['address_city_id'].errors }">
                                        <option [ngValue]="0" [disabled]="true">{{f['address_state_acronym'].value == ''
                                            ? 'Selecione o Estado' : 'Selecione a Cidade'}}</option>
                                        <option *ngFor="let city of citiesList" [value]="city.id">
                                            {{city.name}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="submitted && f['address_city_id'].errors" class="invalid-feedback">
                                    <div *ngIf="f['address_city_id'].errors['required'] || f['address_city_id'].errors['min']">Selecione
                                        uma cidade</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="fieldset">
                    <ngx-spinner name="spinnerBank" size="medium" color="#fff" type="ball-beat"
                        [fullScreen]="false"></ngx-spinner>
                    <h1>Dados Bancários</h1>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="dois-pontos">Nro Banco</label>
                                <input type="text" id="bank_code" name="bank_code" formControlName="bank_code"
                                    class="form-control" (change)="getBank($event)" maxlength="4" mask="00000"
                                    [ngClass]="{ 'is-invalid': submitted && f['bank_code'].errors }" />
                                <div *ngIf="submitted && f['bank_code'].errors" class="invalid-feedback">
                                    <div *ngIf="f['bank_code'].errors['required']">O nro do banco é obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="dois-pontos">Banco</label>
                                <input type="text" id="bank_name" name="bank_name" formControlName="bank_name"
                                    class="form-control text-transform-capitalize" maxlength="200"
                                    [ngClass]="{ 'is-invalid': submitted && f['bank_name'].errors }" />
                                <div *ngIf="submitted && f['bank_name'].errors" class="invalid-feedback">
                                    <div *ngIf="f['bank_name'].errors['required']">O nome do banco é obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="dois-pontos">Agência</label>
                                <input type="text" id="bank_agency" name="bank_agency" formControlName="bank_agency"
                                    class="form-control" maxlength="10"
                                    [ngClass]="{ 'is-invalid': submitted && f['bank_agency'].errors }" />
                                <div *ngIf="submitted && f['bank_agency'].errors" class="invalid-feedback">
                                    <div *ngIf="f['bank_agency'].errors['required']">O número da agência é obrigatório
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="dois-pontos">Conta</label>
                                <input type="text" id="bank_account" name="bank_account" formControlName="bank_account"
                                    class="form-control" maxlength="10"
                                    [ngClass]="{ 'is-invalid': submitted && f['bank_account'].errors }" />
                                <div *ngIf="submitted && f['bank_account'].errors" class="invalid-feedback">
                                    <div *ngIf="f['bank_account'].errors['required']">O número da conta é obrigatório
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="fieldset">
                    <h1>Dados Representante Legal</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Nome</label>
                                <input type="text" id="legal_representative_name" name="legal_representative_name"
                                    formControlName="legal_representative_name" class="form-control text-transform-capitalize" maxlength="200"
                                    [ngClass]="{ 'is-invalid': submitted && f['legal_representative_name'].errors }" />
                                <div *ngIf="submitted && f['legal_representative_name'].errors"
                                    class="invalid-feedback">
                                    <div *ngIf="f['legal_representative_name'].errors['required']">O nome do representante legal
                                        é obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">CPF</label>
                                <input type="text" id="legal_representative_cpf" name="legal_representative_cpf"
                                    formControlName="legal_representative_cpf" mask="000.000.000-00"
                                    class="form-control" maxlength="20"
                                    [ngClass]="{ 'is-invalid': submitted && f['legal_representative_cpf'].errors }" />
                                <div *ngIf="submitted && f['legal_representative_cpf'].errors" class="invalid-feedback">
                                    <div *ngIf="f['legal_representative_cpf'].errors['required']">O CPF do representante
                                        legal é obrigatório</div>
                                    <div *ngIf="f['legal_representative_cpf'].errors['cpfInvalido']">Formato de CPF
                                        inválido</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Telefone</label>
                                <input type="text" id="legal_representative_phone" name="legal_representative_phone" formControlName="legal_representative_phone" class="form-control"
                                    mask="(00) 0000-0000||(00) 0 0000-0000" maxlength="20"
                                    [ngClass]="{ 'is-invalid': submitted && f['legal_representative_phone'].errors }" />
                                <div *ngIf="submitted && f['legal_representative_phone'].errors" class="invalid-feedback">
                                    <div *ngIf="f['legal_representative_phone'].errors['required']">O telefone é obrigatório</div>
                                    <div *ngIf="f['legal_representative_phone'].errors['phone']">Formato do telefone inválido</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Estado Civil</label>
                                <select class="form-control" formControlName="legal_representative_marital_status"
                                    [ngClass]="{ 'is-invalid': submitted && f['legal_representative_marital_status'].errors }">
                                    <option [ngValue]="0" [disabled]="true">Selecione o Estado Civil</option>
                                    <option [ngValue]="MaritalStatusEnum.Casado">Casado</option>
                                    <option [ngValue]="MaritalStatusEnum.Divorciado">Divorciado</option>
                                    <option [ngValue]="MaritalStatusEnum.Separado">Separado</option>
                                    <option [ngValue]="MaritalStatusEnum.Solteiro">Solteiro</option>
                                    <option [ngValue]="MaritalStatusEnum.UniaoEstavel">União Estável</option>
                                    <option [ngValue]="MaritalStatusEnum.Viuvo">Viúvo</option>
                                </select>
                                <div *ngIf="submitted && f['legal_representative_marital_status'].errors" class="invalid-feedback">
                                    <div *ngIf="f['legal_representative_marital_status'].errors['required'] || f['legal_representative_marital_status'].errors['min']">O estado civil é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Cargo</label>
                                <input type="text" id="position" name="position" formControlName="legal_representative_position"
                                    class="form-control" maxlength="100"
                                    [ngClass]="{ 'is-invalid': submitted && f['legal_representative_position'].errors }" />
                                <div *ngIf="submitted && f['legal_representative_position'].errors" class="invalid-feedback">
                                    <div *ngIf="f['legal_representative_position'].errors['required']">O cargo é obrigatório
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Data Vigência Mandato</label>
                                <div class="input-group">
                                    <input type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" class="form-control" formControlName="legal_representative_position_expiration_date" maxlength="10"
                                        [ngClass]="{ 'is-invalid': submitted && f['legal_representative_position_expiration_date'].errors }">
                                </div>
                                <div *ngIf="submitted && f['legal_representative_position_expiration_date'].errors" class="invalid-feedback">
                                    <div *ngIf="f['legal_representative_position_expiration_date'].errors['dateLowerThanToday']">A data de vigência do mandato deve ser maior do que hoje</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="fieldset">
                        <ngx-spinner name="spinnerAddressLegalRepresentative" size="medium" color="#fff" type="ball-beat"
                            [fullScreen]="false"></ngx-spinner>
                        <h1>Dados Endereço</h1>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="dois-pontos">CEP</label>
                                    <input type="text" id="legal_representative_address_cep" name="legal_representative_address_cep" formControlName="legal_representative_address_cep"
                                        class="form-control" (change)="getAddress($event, false)" maxlength="9" mask="00000-000"
                                        [ngClass]="{ 'is-invalid': submitted && f['legal_representative_address_cep'].errors }" />
                                    <div *ngIf="submitted && f['legal_representative_address_cep'].errors" class="invalid-feedback">
                                        <div *ngIf="f['legal_representative_address_cep'].errors['required']">O CEP é obrigatório</div>
                                        <div *ngIf="f['legal_representative_address_cep'].errors['cepInvalido']">Formato de CEP inválido</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="dois-pontos">Logradouro</label>
                                    <input type="text" id="legal_representative_address_street" name="legal_representative_address_street" formControlName="legal_representative_address_street"
                                        class="form-control text-transform-capitalize" maxlength="200" [ngClass]="{ 'is-invalid': submitted && f['legal_representative_address_street'].errors }" />
                                    <div *ngIf="submitted && f['legal_representative_address_street'].errors" class="invalid-feedback">
                                        <div *ngIf="f['legal_representative_address_street'].errors['required']">O logradouro é obrigatório</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="dois-pontos">Número</label>
                                    <input type="text" id="legal_representative_address_number" name="legal_representative_address_number"
                                        formControlName="legal_representative_address_number" class="form-control" maxlength="10"
                                        [ngClass]="{ 'is-invalid': submitted && f['legal_representative_address_number'].errors }" />
                                    <div *ngIf="submitted && f['legal_representative_address_number'].errors" class="invalid-feedback">
                                        <div *ngIf="f['legal_representative_address_number'].errors['required']">O número do endereço é
                                            obrigatório</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="dois-pontos">Complemento</label>
                                    <input type="text" id="legal_representative_address_complement" name="legal_representative_address_complement"
                                        formControlName="legal_representative_address_complement" class="form-control text-transform-capitalize" maxlength="100" />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="dois-pontos">Bairro</label>
                                    <input type="text" id="legal_representative_address_district" name="legal_representative_address_district"
                                        formControlName="legal_representative_address_district" class="form-control text-transform-capitalize" maxlength="200"
                                        [ngClass]="{ 'is-invalid': submitted && f['legal_representative_address_district'].errors }" />
                                    <div *ngIf="submitted && f['legal_representative_address_district'].errors" class="invalid-feedback">
                                        <div *ngIf="f['legal_representative_address_district'].errors['required']">O bairro é obrigatório</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="dois-pontos">Cidade / Estado</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select class="form-control" formControlName="legal_representative_address_state_acronym"
                                                (change)="loadCities(f['legal_representative_address_state_acronym'].value, 0, false)"
                                                [ngClass]="{ 'is-invalid': submitted && f['legal_representative_address_city_id'].errors }">
                                                <option [ngValue]="''" [disabled]="true">UF</option>
                                                <option *ngFor="let state of statesList" [value]="state.acronym"
                                                    [selected]="state.acronym == f['legal_representative_address_state_acronym'].value">
                                                    {{state.acronym}}
                                                </option>
                                            </select>
                                        </div>
                                        <select class="form-control" formControlName="legal_representative_address_city_id"
                                            [ngClass]="{ 'is-invalid': submitted && f['legal_representative_address_city_id'].errors }">
                                            <option [ngValue]="0" [disabled]="true">{{f['legal_representative_address_state_acronym'].value == ''
                                                ? 'Selecione o Estado' : 'Selecione a Cidade'}}</option>
                                            <option *ngFor="let city of citiesListLegalRepresentative" [value]="city.id">
                                                {{city.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div *ngIf="submitted && f['legal_representative_address_city_id'].errors" class="invalid-feedback">
                                        <div *ngIf="f['legal_representative_address_city_id'].errors['required'] || f['legal_representative_address_city_id'].errors['min']">Selecione
                                            uma cidade</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>

                <div class="row" [ngClass]="{ 'd-hidden': isAdd }">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                <div class="form-check circle">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name="is_active" formControlName="is_active">
                                        Ativo?
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>

        <div class="button-area">
            <button class="btn btn-default btn-sm min-120" (click)="goBack()">Voltar</button>
            <button class="btn btn-primary btn-sm min-120" (click)="onSubmit()">Salvar</button>
        </div>
    </form>
</div>