@import '../../../../assets/styles/list-registration-page';

.cooperative-register  {
    .row { padding-bottom: 10px; }

    .fieldset .form-group { text-align: left; }

    .is-radio > div {
        align-items: center;
        height: 38px;

        > div:first-child { margin-right: 10px; }

        .form-check-label {
            align-items: center;
            display: flex;

            > input { margin-right: 5px; margin-top: 0px; }
        }
    }    
}