<div class="content-wrapper change-password p-0">
    <div class="col-12 d-flex align-items-center justify-content-center bg-white">
        <div class="nav-get-started">
            <img src="assets/imagens/logo-preto-vertical.png" class="img-fluid">
        </div>
        <perfect-scrollbar>
            <div class="auto-form-wrapper">
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                    <h3 class="mr-auto">Olá {{loggedUser?.firstName}}, seja bem-vindo!</h3>
                    <p class="mb-5 mr-auto">Para trocar sua senha, informe sua nova senha abaixo.</p>

                    <div class="form-group">
                        <label class="dois-pontos">E-mail</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-user"></i></span>
                            </div>
                            <input type="email" id="email" name="email" class="form-control"
                                value="{{loggedUser?.email}}" readonly />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="dois-pontos">Senha</label>
                        <div class="input-group" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input type="password" id="senha" name="senha" formControlName="password"
                                class="form-control" placeholder="Digite sua senha aqui" />
                        </div>
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">A senha é obrigatória</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="dois-pontos">Confirmação de Senha</label>
                        <div class="input-group" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                            </div>
                            <input type="password" id="senhaConfirmacao" name="senhaConfirmacao"
                                formControlName="confirmPassword" class="form-control"
                                placeholder="Confirme sua senha aqui" />
                        </div>
                        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPassword.errors.required">A confirmação de senha é obrigatória</div>
                            <div *ngIf="f.confirmPassword.errors.confirmedValidator">A senha e a confirmação devem ser
                                iguais</div>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-success">Trocar Senha</button>
                    </div>

                </form>
            </div>
        </perfect-scrollbar>
    </div>
</div>