<div class="d-flex align-items-center justify-content-space-around">
    <div class="timeline d-flex align-items-center">
        <div class="delivered {{deliveryInfo.color_class}}" [ngStyle]="{ 'width': deliveryInfo.total_delivered_percentage + '%' }"></div>
        <div class="point" style="left: 1%"></div>
        <div class="point" *ngFor="let delivery of deliveryInfo.delivery_progress; let ind = index;" 
            [ngStyle]="{ 'left': delivery.delivery_percentage - 4 + '%' }"
            [ngbPopover]="popContentPoint" triggers="mouseenter:mouseleave" placement="top" container="body">
            <ng-template #popContentPoint>
                <div class="popover-sme">
                    <div class="header">
                        <b>{{ind + 1}}ª Entrega</b>
                    </div>
                    <div><b>Prevista:</b> {{delivery.delivery_date | date:'dd/MM/yyyy'}} - {{delivery.delivery_quantity}} {{measure_unit}}</div>
                    <div *ngIf="delivery.was_delivered"><b>Realizada:</b> {{delivery.delivered_date | date:'dd/MM/yyyy'}} - {{delivery.delivered_quantity}} {{measure_unit}}</div>
                </div>
            </ng-template>
        </div>
    </div>
    <b>{{deliveryInfo.total_delivered_percentage | number : '.0-0'}}%</b>
</div>