<section class="dashboard-detail-table table" *ngIf="cooperatives.length > 0">
    <header>
        <div class="col-0-12-5"></div>
        <div class="col-0-75 text-left">Cooperativa</div>
        <div class="col-0-5">CNPJ</div>
        <div class="col-0-12-5"></div>
        <div class="col-0-25">Classificação</div>
        <div class="col-0-25">Valor</div>
        <div class="col-0-25">Qtdade Proposta</div>
        <div class="col-0-25 action">Ações</div>
    </header>
    <perfect-scrollbar>
        <div class="table-row" *ngFor="let cooperative of cooperatives; let ind = index"
            [ngClass]="{ 'is-selected': cooperative.is_selected }">
            <div class="col-0-12-5 d-flex justify-content-center">
                <div class="">
                    <input class="form-check-input mt-10 mr-10" type="checkbox" [disabled]="!cooperative.members_validated" [checked]="cooperative.is_selected"
                    (click)="selectCooperative(cooperative)" />
                    <label class="form-check-label">{{(ind + 1)}}ª</label>
                </div>
            </div>
            <div class="col-0-75 text-left truncate" title="{{cooperative.name}}">{{cooperative.acronym}}</div>
            <div class="col-0-5">
                {{cooperative.cnpj}}
                <fa-icon class="cursor-pointer ml-5" [icon]="faIcons.copy" (click)="copyToClipboardCnpj(cooperative.cnpj)"></fa-icon>
            </div>
            <div class="col-0-12-5 action">
                <a class="d-flex mr-5" href="javascript:void(0)" title="Relatório Validação Cooperados"
                    (click)="downloadValidationReport(cooperative.cooperative_id)">
                    <span class="material-symbols-outlined">download</span>
                </a>
            </div>
            <div class="col-0-25 classification">
                <ng-template #popContentGL>
                    <div class="popover-sme">
                        <div class="header green" *ngIf="cooperative.classification.good_location">
                            <fa-icon [icon]="faIcons.goodLocationAlt"></fa-icon>
                            <label>Boa Localização</label>
                        </div>
                        <div *ngIf="cooperative.classification.good_location">Esta cooperativa está classificada como bem localizada, melhorando sua classificação no ranking.</div>
                        <div><b>Localização:</b> {{cooperative.location}}</div>
                        <!-- <div><b>Associados Localização:</b> {{cooperative.city_members_total}}</div> -->
                        <hr />
                        <b>Tipo Região:</b> {{cooperative.classification.good_location_type}}
                    </div>
                </ng-template>
                <ng-template #popContentIC>
                    <div class="popover-sme">
                        <div class="header green" *ngIf="cooperative.classification.inclusive_cooperative">
                            <fa-icon [icon]="faIcons.inclusiveCooperative"></fa-icon>
                            <label>Cooperativa Inclusiva</label>
                        </div>
                        <div *ngIf="cooperative.classification.inclusive_cooperative">Esta cooperativa está classificada como inclusiva, melhorando sua classificação no ranking.</div>
                        <div>
                            <b>Somente Mulheres:</b> {{cooperative.only_woman ? 'Sim' : 'Não'}}
                            <br />
                            <b>Assentados Reforma Agrária:</b> {{cooperative.pnra_settlement_total | number : '.0-0'}}%
                            <br />
                            <b>Indígenas:</b> {{cooperative.indigenous_community_total | number : '.0-0'}}%
                            <br />
                            <b>Quilombolas:</b> {{cooperative.quilombola_community_total | number : '.0-0'}}%
                            <!-- <br />
                            <b>Demais Associados:</b> {{cooperative.other_family_agro_total | number : '.0-0'}}% -->
                            <!-- <br />
                            <b>Total:</b> {{cooperative.pnra_settlement_total + cooperative.indigenous_community_total + cooperative.quilombola_community_total + cooperative.other_family_agro_total}} -->
                            <hr />
                            <!-- <b>Proporção:</b> {{cooperative.classification.inclusive_cooperative_percentage | number : '.0-0'}}% -->
                            <b>Total Grupos Prioritários:</b> {{cooperative.pnra_settlement_total + cooperative.indigenous_community_total + cooperative.quilombola_community_total  | number : '.0-0'}}%
                        </div>
                    </div>
                </ng-template>
                <ng-template #popContentIO>
                    <div class="popover-sme">
                        <div class="header green" *ngIf="cooperative.classification.is_organic">
                            <fa-icon [icon]="faIcons.organic"></fa-icon>
                            <label>Produto Orgânico</label>
                        </div>
                        <!-- <div *ngIf="cooperative.classification.is_organic">Esta cooperativa está oferecendo produto orgânico, melhorando sua classificação no ranking.</div> -->
                        <div *ngIf="!cooperative.classification.is_organic">Esta cooperativa não está oferecendo produto orgânico.</div>
                    </div>
                </ng-template>
                <ng-template #popContentDP>
                    <div class="popover-sme">
                        <div class="header green">
                            <fa-icon [icon]="faIcons.percentage"></fa-icon>
                            <label>Associados DAP/CAF</label>
                        </div>
                        <!-- <div *ngIf="cooperative.classification.daps_percentage">Esta cooperativa possui uma boa porcentagem de DAPs em relação ao total de cooperados.</div> -->
                        <div>
                            <!-- <b>DAPs Físicas:</b> {{cooperative.daps_fisicas_total}}
                            <br />
                            <b>Total:</b> {{cooperative.pnra_settlement_total + cooperative.indigenous_community_total + cooperative.quilombola_community_total + cooperative.other_family_agro_total}}
                            <hr /> -->
                            <b>% Associados com DAP/CAF:</b> {{cooperative.other_family_agro_total  | number : '.0-0'}}%
                        </div>
                    </div>
                </ng-template>
                <ng-template #popContentSingular>
                    <div class="popover-sme">
                        <div class="header" [ngClass]="{ 'green': cooperative.classification.is_singular }">
                            <fa-icon [icon]="faIcons.singular"></fa-icon>
                            <label>Organização Formal</label>
                        </div>
                        <div *ngIf="cooperative.classification.is_singular">Cooperativa Singular</div>
                        <div *ngIf="!cooperative.classification.is_singular">Cooperativa Central</div>
                    </div>
                </ng-template>

                <fa-icon [ngClass]="{ enable: cooperative.classification.good_location, disable: !cooperative.classification.good_location}"
                    [icon]="faIcons.goodLocationAlt" [ngbPopover]="popContentGL" triggers="mouseenter:mouseleave" placement="top" container="body"></fa-icon>
                <fa-icon [ngClass]="{ enable: cooperative.classification.inclusive_cooperative, disable: !cooperative.classification.inclusive_cooperative}"
                    [icon]="faIcons.inclusiveCooperative" [ngbPopover]="popContentIC" triggers="mouseenter:mouseleave" placement="top" container="body"></fa-icon>
                <fa-icon [ngClass]="{ enable: cooperative.classification.is_organic, disable: !cooperative.classification.is_organic}"
                    [icon]="faIcons.organic" [ngbPopover]="popContentIO" triggers="mouseenter:mouseleave" placement="top" container="body"></fa-icon>
                <fa-icon [ngClass]="{ enable: cooperative.classification.daps_percentage, disable: !cooperative.classification.daps_percentage}"
                    [icon]="faIcons.percentage" [ngbPopover]="popContentDP" triggers="mouseenter:mouseleave" placement="top" container="body"></fa-icon>
                <fa-icon [ngClass]="{ enable: cooperative.classification.is_singular, disable: !cooperative.classification.is_singular}"
                    [icon]="faIcons.singular" [ngbPopover]="popContentSingular" triggers="mouseenter:mouseleave" placement="top" container="body"></fa-icon>
            </div>
            <div class="col-0-25">{{cooperative.total_price | currency:'BRL'}}</div>
            <div class="col-0-25">
                {{cooperative.total_proposal_edited || cooperative.total_proposal | number}}
                {{food.measure_unit}}
            </div>
            <div class="col-0-25 action">
                <a class="d-flex mr-5" href="javascript:void(0)" title="Validar Cooperados"
                    (click)="validateMembers(cooperative.cooperative_id)">
                    <span class="material-symbols-outlined">upload</span>
                </a>
                <a class="d-flex mr-5" href="javascript:void(0)" title="Solicitar Alteração"
                    (click)="openModal(contentChangeRequest, true)">
                    <span class="material-symbols-outlined">swap_horiz</span>
                </a>
                <a class="d-flex mr-5" href="javascript:void(0)" title="Anexos da Proposta"
                    (click)="openModal(contentAttachment, true)">
                    <span class="material-symbols-outlined">attach_file</span>
                </a>
                <a class="d-flex mr-5" href="javascript:void(0)" title="Histórico de Mensagens"
                    (click)="openModal(contentComments, false)">
                    <span class="material-symbols-outlined">chat</span>
                </a>
                <a class="d-flex" href="javascript:void(0)" title="Editar Composição Associados"
                    (click)="openModal(contentAssociates, false)">
                    <span class="material-symbols-outlined">edit</span>
                </a>
            </div>

            <ng-template #contentAttachment let-modalAttachment>
                <public-call-attachment-modal [modal]="modalAttachment" [cooperative]="cooperative" [food]="food" [public_call_id]="publicCall.id"
                    [documents]="documents" [isCardType]="false">
                </public-call-attachment-modal>
            </ng-template>

            <ng-template #contentChangeRequest let-modalChangeRequest>
                <admin-change-request-modal [modal]="modalChangeRequest" [cooperative]="cooperative" [public_call_id]="publicCall.id" [food]="food"
                    [documents]="publicCall.documents" (onSave)="loadChangeRequestHistory(publicCall.id)">
                </admin-change-request-modal>
            </ng-template>

            <ng-template #contentComments let-modalComments>
                <ng-container *ngIf="{ id: cooperative.cooperative_id, name: cooperative.name } as cooperativeSimplified">
                    <public-call-comments-modal [modal]="modalComments" [cooperative]="cooperativeSimplified" [public_call_id]="publicCall.id"
                        [changeRequests]="changeRequests" [food]="food">
                    </public-call-comments-modal>
                </ng-container>
            </ng-template>

            <ng-template #contentAssociates let-modalAssociates>
                <ng-container>
                    <board-of-associates-modal [modal]="modalAssociates" [cooperative]="cooperative" [public_call_id]="publicCall.id"
                        [statesList]="statesList" [food]="food" (onSave)="onSaveBoardOfAssociates($event)">
                    </board-of-associates-modal>
                </ng-container>
            </ng-template>

        </div>
    </perfect-scrollbar>
</section>
