@import '../../../assets/styles/list-registration-page';

.public-call-detail-header {
    > header {
        margin-bottom: 0px;
        max-height: 115px;

        > div:first-child {
            > div:first-child { max-width: 150px; }
            > h2 { margin-top: 5px; text-align: left; }
        }

        .chart-area {
            height: 100px;
            position: relative;
            width: 100px;

            > div.buttons {
                display: flex;
                flex-direction: column;
                left: -150px;
                position: absolute;
                top: 10px;

                .action { color: var(--default-orange-color); }
            }

            ::ng-deep svg > g { transform: translate(-64px,-6px)!important; }
        }

        .button-area { height: 90px; }
    }
}

::ng-deep .ngx-charts { height: 150px !important; }
::ng-deep .pie-grid-item:nth-child(2) { display: none; }
::ng-deep .pie-grid-item > text:nth-child(n+2) { font-size: 25px; font-weight: bold; transform: translateY(17px) translateX(4px); }
::ng-deep .pie-grid-item > text:nth-child(n+3) { display: none; }