@import '../../../assets/styles/_tabs';

.dashboard {
    padding: 20px;

    .titulo-pagina {
        font-size: 1.4rem !important;
        margin: 20px 20px 0 20px;
        color: #272322;
        font-weight: bold;
        line-height: 30px;
        padding: 0;
        text-indent: 0;
        text-transform: uppercase;
    }
}