
.wizard-container {
  display: flex;
}

.wizard-sidebar {
  background: #eee;
  height: calc(100vh - 283px);
  padding: 20px;
  text-align: left;
  width: 20%;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 5px 0 0;
        cursor: pointer;

        &.active { font-weight: bold; }
        &.disabled { color: #ccc; font-style: italic; pointer-events: none; }
    }
  }
}

.wizard-content {
  width: 80%;
  padding: 20px;

  &.all { width: 100%; }
}

.wizard-step {
  display: none;
}

.wizard-navigation {
  margin-top: 20px;
}

.wizard-navigation button {
  margin-right: 10px;
}
