<div class="modal-upload-member">
    <div class="modal-header">
        <h4 class="modal-title d-flex flex-direction-column">
            Instruções
            <small class="text-danger"><b>Atenção</b> Lembre-se de salvar a planilha antes de importá-la</small>
        </h4>
        <button type="button" class="btn-close" aria-label="Fechar" (click)="modal.dismiss('Cross click')"></button>
        <input type="file" class="upload" (change)="selectFile($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </div>
    <div class="modal-body">
        <span>INSTRUÇÕES PARA IMPORTAÇÃO DOS DADOS DOS COOPERADOS PARTICIPANTES DO PROJETO DE VENDA</span>
        <ol class="list">
            <li class="list-item one">
                Clique <a href="javascript:void(0)" (click)="downloadExample()">aqui</a> para baixar o modelo de planilha
            </li>
            <li class="list-item two">
                Preencha os dados em cada coluna, atendendo às seguintes observações:
                <div class="row">
                    <!-- <div class="col-4">
                        <img src="/assets/upload-docs/member_upload_proposal.png?v=1" alt="Exemplo Preenchimento" />
                    </div> -->
                    <div class="col-12">
                        <ul class="list-bullets">
                            <li>Na coluna <b>DAP/CAF</b> e <b>CPF</b>, certifique-se de que não há espaços em branco ou outros caracteres antes ou depois dos mesmos;</li>
                            <li>Na coluna <b>QUANTIDADE</b>informe <b>apenas o valor numérico</b> do quantitativo com o qual cada associado irá participar (sem unidade de peso ou volume – KG, L, etc);</li>
                            <li>Na coluna <b>PREÇO</b>, insira a<b>apenas o valor numérico</b> do item (sem símbolos ou outros caracteres – R$), conforme especificado no Edital.</li>
                            <li>O valor total da proposta de cada associado não deve ultrapassar o limite de R$ 40.000,00, bem como o valor total do projeto não deve ultrapassar o valor previsto na Chamada.</li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="list-item three">
                Salve a planilha
            </li>
            <li class="list-item four">
                Volte para a tela do Sistema e clique em <a href="javascript:void(0)" class="btn btn-default botao" (click)="addFile()">"Subir a Planilha"</a> para <b>carregá-la no Sistema</b>. Caso haja alguma incorreção, o Sistema emitirá uma lista de itens a serem corrigidos. Efetue as correções necessárias e siga, novamente, os passos 1, 2, 3 e 4.
                <br *ngIf="selectedFiles && selectedFiles.length > 0" />
                <span *ngIf="selectedFiles && selectedFiles.length > 0"> - Selecionado: <b>{{ selectedFiles[0].name }}</b></span>
            </li>
            <li class="list-item five">
                Estando as informações corretas, clique no botão "IMPORTAR" para <b>enviar a planilha para o Sistema</b>.
            </li>
            <!-- <li class="list-item six">
                O Produto Atual é: <b>{{ selectedFood!.food_name }}{{ selectedFood!.is_organic ? ' (Orgânico)' : '' }}</b>
            </li>
            <li class="list-item seven">
                Após preenchê-la, clique <a href="javascript:void(0)" class="btn btn-default botao" (click)="addFile()">aqui</a> para enviar a planilha
                <span *ngIf="selectedFiles && selectedFiles.length > 0"> - Selecionado: <b>{{ selectedFiles[0].name }}</b></span>
            </li>
            <li class="list-item eite">Clique em <b>Importar</b> abaixo para salvar os dados</li> -->
        </ol>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="import()" [attr.disabled]="(!selectedFiles || selectedFiles.length === 0) ? 'disabled' : null">Importar</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Fechar</button>
    </div>
</div>

<ng-template #content let-modalError>
    <app-cooperative-proposal-upload-members-error [modal]="modalError" [errors]="errors">
    </app-cooperative-proposal-upload-members-error>
</ng-template>