<div class="cooperative-member registration-page-container">
    <header class="justify-content-space-between">
        <h2>Cooperado</h2>
        <div class="search-area d-flex">
            <input type="text" id="search" name="search" class="form-control mr-10 text-transform-uppercase"
                [(ngModel)]="selectedMemberInfo" placeholder="Digite a DAP, CAF ou CPF do Cooperado" />
            <button class="btn btn-primary btn-sm" (click)="getCooperativeMember()">Pesquisar</button>
        </div>
    </header>
    <form [formGroup]="cooperativeMemberForm" *ngIf="isOnEditMode">
        <perfect-scrollbar>
            <div class="body d-flex flex-direction-column">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="dois-pontos">Cooperativa</label>
                            <select class="form-control" formControlName="cooperative_id" name="cooperative_id">
                                <option [ngValue]="0"></option>
                                <option *ngFor="let cooperative of cooperatives" [value]="cooperative.id">
                                    {{cooperative.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="dois-pontos">Nome</label>
                            <input type="text" id="name" name="name" formControlName="name"  maxlength="200"
                                class="form-control text-transform-capitalize"
                                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" placeholder="Digite o nome" />
                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                                <div *ngIf="f['name'].errors['required']">O nome é obrigatório</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" *ngIf="hasCooperative">
                        <div class="form-group">
                            <label class="dois-pontos">CPF</label>
                            <input type="text" id="cpf" name="cpf" formControlName="cpf"  mask="000.000.000-00"
                                    class="form-control" placeholder="Digite o CPF aqui" maxlength="20"
                                    [ngClass]="{ 'is-invalid': submitted && f['cpf'].errors }" />
                            <div *ngIf="submitted && f['cpf'].errors" class="invalid-feedback">
                                <div *ngIf="f['cpf'].errors['required']">O CPF é obrigatório</div>
                                <div *ngIf="f['cpf'].errors['cpfInvalido']">Formato de CPF inválido</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group is-radio" formGroupName="isDapGroup" >
                            <label class="dois-pontos">Tipo</label>
                            <div class="d-flex">
                                <div class="form-check circle">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" [value]="true" formControlName="is_dap">
                                        DAP
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <div class="form-check circle">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" [value]="false" formControlName="is_dap">
                                        CAF
                                        <i class="input-helper"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="dois-pontos">{{ isDap ? 'DAP' : 'CAF' }}</label>
                            <input type="text" id="dap_caf_code" name="dap_caf_code" formControlName="dap_caf_code" class="form-control text-transform-uppercase" maxlength="25"
                                [ngClass]="{ 'is-invalid': submitted && f['dap_caf_code'].errors }" placeholder="Digite a DAP" />
                            <div *ngIf="submitted && f['dap_caf_code'].errors" class="invalid-feedback">
                                <div *ngIf="f['dap_caf_code'].errors['required']">A {{ isDap ? 'DAP' : 'CAF' }} é obrigatória</div>
                                <div *ngIf="f['dap_caf_code'].errors['DapCafAlreadyExistsValidator']">Esta {{ isDap ? 'DAP' : 'CAF' }} já foi registrada</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="dois-pontos">Data Cadastro {{ isDap ? 'DAP' : 'CAF' }}</label>
                            <input type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" class="form-control" formControlName="dap_caf_registration_date" maxlength="10"
                                [ngClass]="{ 'is-invalid': submitted && f['dap_caf_registration_date'].errors }">
                            <div *ngIf="submitted && f['dap_caf_registration_date'].errors" class="invalid-feedback">
                                <div *ngIf="f['dap_caf_registration_date'].errors['required']">A data de cadastro da {{ isDap ? 'DAP' : 'CAF' }} é obrigatória</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="dois-pontos">Data Expiração {{ isDap ? 'DAP' : 'CAF' }}</label>
                            <div class="input-group">
                                <input type="date" pattern="\d{1,2}/\d{1,2}/\d{4}" class="form-control" formControlName="dap_caf_expiration_date" maxlength="10"
                                    [ngClass]="{ 'is-invalid': submitted && f['dap_caf_registration_date'].errors }">
                            </div>
                            <div *ngIf="submitted && f['dap_caf_expiration_date'].errors" class="invalid-feedback">
                                <div *ngIf="f['dap_caf_expiration_date'].errors['required']">A data de expiração da {{ isDap ? 'DAP' : 'CAF' }} é obrigatória</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row pb-20" *ngIf="hasCooperative">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="dois-pontos">Tipo Agricultor Familiar</label>
                            <select class="form-control" name="pf_type" formControlName="pf_type" [ngClass]="{ 'is-invalid': submitted && f['pf_type'].errors }">
                                <option [ngValue]="0" [disabled]="true">Selecione um tipo Agricultor Familiar</option>
                                <option [ngValue]="2">Assentado(a) pelo PNRA</option>
                                <option [ngValue]="1">Comunidade Indígena</option>
                                <option [ngValue]="3">Comunidade Quilombola</option>
                                <option [ngValue]="4">DAP Física</option>
                                <option [ngValue]="5">Outro</option>
                            </select>
                            <div *ngIf="submitted && f['pf_type'].errors" class="invalid-feedback">
                                <div *ngIf="f['pf_type'].errors['required'] || f['pf_type'].errors['min']">O tipo agricultor familiar é obrigatório</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="dois-pontos">Tipo Produção</label>
                            <select class="form-control" name="production_type" formControlName="production_type" [ngClass]="{ 'is-invalid': submitted && f['production_type'].errors }">
                                <option [ngValue]="0" [disabled]="true">Selecione um tipo de Produção</option>
                                <option [ngValue]="1">Convencional</option>
                                <option [ngValue]="2">Orgânico</option>
                                <option [ngValue]="3">Ambos</option>
                            </select>
                            <div *ngIf="submitted && f['production_type'].errors" class="invalid-feedback">
                                <div *ngIf="f['production_type'].errors['required'] || f['production_type'].errors['min']">O tipo de produção é obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>

                <section class="fieldset" *ngIf="hasCooperative">
                    <ngx-spinner name="spinnerAddress" size="medium" color="#fff" type="ball-beat"
                        [fullScreen]="false"></ngx-spinner>
                    <h1>Dados Endereço</h1>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">CEP</label>
                                <input type="text" id="address_cep" name="address_cep" formControlName="address_cep"
                                    class="form-control" (change)="getAddress($event)" maxlength="9" mask="00000-000"
                                    [ngClass]="{ 'is-invalid': submitted && f['address_cep'].errors }" />
                                <div *ngIf="submitted && f['address_cep'].errors" class="invalid-feedback">
                                    <div *ngIf="f['address_cep'].errors['required']">O CEP é obrigatório</div>
                                    <div *ngIf="f['address_cep'].errors['cepInvalido']">Formato de CEP inválido</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Logradouro</label>
                                <input type="text" id="address_street" name="address_street" formControlName="address_street"
                                    class="form-control text-transform-capitalize" maxlength="200" [ngClass]="{ 'is-invalid': submitted && f['address_street'].errors }" />
                                <div *ngIf="submitted && f['address_street'].errors" class="invalid-feedback">
                                    <div *ngIf="f['address_street'].errors['required']">O logradouro é obrigatório</div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Número</label>
                                <input type="text" id="address_number" name="address_number"
                                    formControlName="address_number" class="form-control" maxlength="10"
                                    [ngClass]="{ 'is-invalid': submitted && f['address_number'].errors }" />
                                <div *ngIf="submitted && f['address_number'].errors" class="invalid-feedback">
                                    <div *ngIf="f['address_number'].errors['required']">O número do endereço é
                                        obrigatório</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pb-20">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Complemento</label>
                                <input type="text" id="address_complement" name="address_complement"
                                    formControlName="address_complement" class="form-control text-transform-capitalize" maxlength="100" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Bairro</label>
                                <input type="text" id="address_district" name="address_district"
                                    formControlName="address_district" class="form-control text-transform-capitalize" maxlength="200"
                                    [ngClass]="{ 'is-invalid': submitted && f['address_district'].errors }" />
                                <div *ngIf="submitted && f['address_district'].errors" class="invalid-feedback">
                                    <div *ngIf="f['address_district'].errors['required']">O bairro é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="dois-pontos">Cidade / Estado</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <select class="form-control" formControlName="address_state_acronym"
                                            (change)="loadCities(f['address_state_acronym'].value, 0)"
                                            [ngClass]="{ 'is-invalid': submitted && f['address_city_id'].errors }">
                                            <option [ngValue]="''" [disabled]="true">UF</option>
                                            <option *ngFor="let state of statesList" [value]="state.acronym"
                                                [selected]="state.acronym == f['address_state_acronym'].value">
                                                {{state.acronym}}
                                            </option>
                                        </select>
                                    </div>
                                    <select class="form-control" formControlName="address_city_id"
                                        [ngClass]="{ 'is-invalid': submitted && f['address_city_id'].errors }">
                                        <option [ngValue]="0" [disabled]="true">{{f['address_state_acronym'].value == ''
                                            ? 'Selecione o Estado' : 'Selecione a Cidade'}}</option>
                                        <option *ngFor="let city of citiesList" [value]="city.id">
                                            {{city.name}}
                                        </option>
                                    </select>
                                </div>
                                <div *ngIf="submitted && f['address_city_id'].errors" class="invalid-feedback">
                                    <div *ngIf="f['address_city_id'].errors['required'] || f['address_city_id'].errors['min']">Selecione
                                        uma cidade</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="row pb-20" *ngIf="hasCooperative">
                    <div class="col-md-4">
                        <div class="form-group is-radio" formGroupName="isMaleGroup" >
                            <label class="dois-pontos">Sexo</label>
                            <div class="d-flex">
                                <div class="form-check circle">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" [value]="true" formControlName="is_male">
                                        Masculino
                                        <i class="input-helper"></i>
                                    </label>
                                </div>
                                <div class="form-check circle">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" [value]="false" formControlName="is_male">
                                        Feminino
                                        <i class="input-helper"></i></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-end" *ngIf="!isAdd">
                        <div class="form-check circle">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="is_active" formControlName="is_active">
                                Ativo?
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>

        <div class="button-area">
            <button class="btn btn-default btn-sm min-120" (click)="goBack()">Voltar</button>
            <button class="btn btn-primary btn-sm min-120" (click)="onSubmit()">Salvar</button>
        </div>
    </form>
    <div class="vazio" *ngIf="!isOnEditMode">
        Digite a DAP/CAF completa ou CPF do cooperado e clique em pesquisar ou clique <a href="javascript:void(0)" (click)="add()">aqui</a> para cadastrar um novo
    </div>
</div>